.main-theme{
	--color-text: #1E1E1E;
	--color-background-header: #86A3B4;
	--color-border:	#1E1E1E;
	--color-name: #FFFFFF;
	--color-surname: #1C2E8C;
	--color-skill-list: #263036;
	--color-main-text-information: #525151;
}