:root{
	--margin-contact-container: 0 0 0 20px;
	--margin-bottom-caption-list: 10px;
	--margin-top-list-elements: 15px;
	--margin-contant-elemnts-main: 8px 0 10px 0;
	--margin-languages-list: 10px 0 0 0;
	--margin-bottom-langugages-elements: 10px;
	--margin-main-information: 58px 0 0 430px;
	--margin-bottom-h2: 28px;
	--margin-main-text: 28px 0 49px 0;
	--padding-left-skill-list: 20px;
	--padding-zero: 0;
}
h1,h2,h3,h4{
	text-transform: capitalize;
}
body{
	display: flex;
	font-family: 'Inter';
	font-style: normal;
	color: var(--color-text);
}
header{
	position: fixed;
	display: flex;
	background-color: var(--color-background-header);
	flex-direction: column;
	width: 365px;
	top: -8px;
	left: -8px;
}
hr{
	border-color:var(--color-border); 
	border-style:solid;
	border-width: 6px;
	width: 289px; 
	margin: 0;
}
.Fullname{
	display: flex;
	font-size: 40px;
	line-height: 48px;
	color: var(--color-name);
	flex-direction: column;
	margin: 30px 85px 20px 40px;
}
.Fullname span{
	color: var(--color-surname);
}
header img{
	width: 365px;
	height: 245px;
}
.contact{
	margin: var(--margin-contact-container);
}
.contact h2{
	margin-bottom: var(--margin-bottom-caption-list);
}
.contact-list{
	margin-top: var(--margin-top-list-elements);
}
.contact-list dt{
	font-size: 24px;
}
.contact-list dd{
	margin: var(--margin-contant-elemnts-main);
	font-size: 16px;
}
ul{
	list-style-type: none;
}
.languages-list{
	margin: var(--margin-languages-list);
	padding: var(--padding-zero);
}
.languages-list li{
	margin-bottom: var(--margin-bottom-langugages-elements);
	font-size: 20px;
}
.main{
	margin: var(--margin-main-information);
	width: 700px;
}
.main h2{
	margin-bottom: var(--margin-bottom-h2);
}
.main hr{
	width: auto;
}
.about {
	margin: var(--margin-main-text);
	font-size: 16px;
}
.skill-list{
	list-style-type: disc;
	margin: var(--margin-main-text);
	padding-left: var(--padding-left-skill-list);
	column-count: 2;
	font-size: 16px;
}
.skill-list li{
	color: var(--color-skill-list);
}
.experience{
	margin: var(--margin-main-text);
	font-size: 14px;
	padding: var(--padding-zero);
	text-align: left;
}
.experience th{
	padding: var(--padding-zero);
}
.experience td{
	color: var(--color-main-text-information);
}
.education-list{
	padding: var(--padding-zero);
	color: var(--color-main-text-information);
}
.education-list span{
	color: var(--color-text);
}