h1,h2,h3,h4{
	text-transform: capitalize;
}
body{
	display: flex;
	font-family: 'Inter';
	font-style: normal;
	color: #1E1E1E;
	height: 45000px;
}
header{
	position: fixed;
	display: flex;
	background-color: #86A3B4;
	flex-direction: column;
	width: 365px;
	top: -8px;
	left: -8px;
}
hr{
	border: 6px solid #1E1E1E; 
	width: 289px; 
	margin: 0;
}
.Fullname{
	display: flex;
	font-size: 40px;
	line-height: 48px;
	color: #FFFFFF;
	flex-direction: column;
	margin: 30px 85px 20px 40px;
}
.Fullname span{
	color: #1C2E8C;
}
header img{
	width: 365px;
	height: 245px;
}
.contact{
	margin: 0 0 0 20px;
}
.contact h2{
	margin-bottom: 10px;
}
.contact-list{
	margin-top: 15px;
}
.contact-list dt{
	font-size: 24px;
}
.contact-list dd{
	margin: 8px 0 10px 0;
	font-size: 16px;
}
ul{
	list-style-type: none;
}
.languages-list{
	margin: 10px 0 0 0;
	padding: 0;
}
.languages-list li{
	margin-bottom: 10px;
	font-size: 20px;
}
.main{
	margin: 58px 0 0 430px;
	width: 700px;
}
.main h2{
	margin-bottom: 28px;
}
.main hr{
	width: auto;
}
.about {
	margin-top: 28px;
	margin-bottom: 49px;
	font-size: 16px;
}
.skill-list{
	list-style-type: disc;
	margin-top: 28px;
	padding-left: 20px;
	column-count: 2;
	font-size: 16px;
	margin-bottom: 49px;
}
.skill-list li{
	color: #263036;
}
.experience{
	margin-top: 31px;
	font-size: 14px;
	padding: 0;
	text-align: left;
	margin-bottom: 53px;
}
.experience th{
	padding: 0;
}
.experience td{
	color: rgb(82, 81, 81);
}
.education-list{
	padding: 0;
	color: rgb(82, 81, 81);
}
.education-list span{
	color: #1E1E1E;
}