.my-theme{
	--color-text: #2A2722;
	--color-background-header: #3E9887;
	--color-border:	#2A2722;
	--color-name: #0c493a;
	--color-surname: #17421e;
	--color-skill-list: #2D3830;
	--color-main-text-information: #2D413C;
}